.loader-div {
  height: 100vh;                                                                                                                                                           
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(215, 215, 224);
    border-top: 5px solid #35aa2a;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }  
}